{% extends "base/base.html" %}

{% block contenido %}
<div style="padding: 10px;">

  {% include "base/buscar.html" %}

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Titulo</th>
        <th scope="col">Autor</th>
        <th scope="col">Categorías</th>
        <th scope="col">Es borrador</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      {% for p in publicaciones %}
        <tr>
          <th scope="row">{{p.id}}</th>
          <td>{{p.titulo}}</td>
          <td>{{p.autor}}</td>
          <td>{% for c in p.categorias.all %} {{c.nombre}} {% endfor %}</td>
          <td>{{p.guardar_como_borrador}}</td>
          <td>
            <a href="{% url 'publicaciones:post' p.id %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Ver</a>
            <a href="{% url 'publicaciones:admin_editar' p.id %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Editar</a>
            <a href="{% url 'publicaciones:admin_eliminar' p.id %}" class="btn btn-primary btn-sm" role="button" aria-pressed="true">Eliminar</a>
          </td>

        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% include "base/paginador.html" %}

{% endblock contenido %}
