{% block content %}

<form class="form-inline my-2 my-lg-0" style="padding:50px" method="get">
  {{form_filtro.as_p}}
  <button type="submit" class="boton btn-success">Buscar</button>
</form>
{% endblock %}
<!--
<div id="custom-search-input">
  <div class="input-group col-md-12">
    <input type="text" class="form-control" placeholder="Buscar..." name="buscar" value = "{{ request.GET.buscar }}">
    <span class="input-group-list">
      <i class="icon icon-search"></i>
      <button type="submit" class="boton btn-success">Buscar</button>
    </span>
  </div>
</div>
-->
