<div class="comment-tabs">
  <ul class="nav nav-tabs" role="tablist">
    {% if user.is_authenticated %}
      <li class=""><a href="{% url 'comentarios:nuevo_comentario' object.id %}" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Add comment</h4></a></li>
      {% else %}
        <li class=""><a href="{% url 'ingresar' %}" role="tab" data-toggle="tab"><h4 class="reviews text-capitalize">Iniciar Sesión</h4></a></li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'comentarios:listar_comentarios' object.id %}">Ver Comentarios</a>
  </ul>

{% include "comentarios/lista_comentarios.html" with p=publicacion %}

</div>
