<div class="comment-tabs">
  <ul class="nav nav-tabs" role="tablist">
    {% if user.is_authenticated %}
      <div style="padding: 10px;">
        <li class=""><a class="btn btn-primary" href="{% url 'comentarios:nuevo_comentario' object.id %}" role="button">Nueno comentario</a></li>
      </div>
    {% else %}
      <div style="padding: 10px;">
        <li class=""><a class="btn btn-primary" href="{% url 'ingresar' %}" role="button">Iniciar Sesión</a></li>
      </div>
    {% endif %}
    <div style="padding: 10px;">
      <li class=""><a class="btn btn-primary" href="{% url 'comentarios:listar_comentarios' object.id %}" role="button">Ver Comentarios</a></li>
    </div>
  </ul>

</div>
