{%load static%}
<style>
aside {
  width: 15%;
  padding-left: 15px;
  margin-left: 15px;
  float: right;
}
</style>

<aside class="bd-sidebar">
  <h4 href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
      <svg class="bi me-2" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-5 fw-semibold">Buscar</span>
    </h4>
    <ul class="list-unstyled ps-0">
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
          Categorías
        </button>
        <div class="collapse show" id="home-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">

            <li><a href="#" class="link-dark rounded">Categoría2</a></li>
            <li><a href="#" class="link-dark rounded">Categoría3</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="true">
          Fecha
        </button>
        <div class="collapse show" id="dashboard-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Meses1</a></li>
            <li><a href="#" class="link-dark rounded">Meses2</a></li>
            <li><a href="#" class="link-dark rounded">Meses3</a></li>
            <li><a href="#" class="link-dark rounded">Meses4</a></li>
          </ul>
        </div>
      </li>
      <li class="mb-1">
        <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="true">
          Autor
        </button>
        <div class="collapse show" id="orders-collapse" style="">
          <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
            <li><a href="#" class="link-dark rounded">Autor1</a></li>
            <li><a href="#" class="link-dark rounded">Autor2</a></li>
            <li><a href="#" class="link-dark rounded">Autor3</a></li>
            <li><a href="#" class="link-dark rounded">Autor4</a></li>
          </ul>
        </div>
      </li>
      <li class="border-top my-3"></li>
    </ul>
</aside>

<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
