{%load static%}

<!DOCTYPE html>
<html lang="es">
<!-- Bootstrap core CSS -->
<link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template -->
<link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

<!-- Custom styles for this template -->
<link href="static/css/clean-blog.css" rel="stylesheet">

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand" href="{% url 'inicio' %}">Inicio</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'ods' %}">ODS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'publicaciones:listar' %}">Publicaciones</a>
            </li>
            {% if user.is_authenticated %}
              {% if user.tipo == 2 %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'publicaciones:nuevo' %}">Nueva Publicación</a></li>
              {% if user.es_administrador %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'publicaciones:admin_menu' %}">Menu de admin</a>
                </li>
              {% endif %}
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'salir' %}">Salir</a>
            </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'ingresar' %}">Ingresar</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'usuarios:registrarte' %}">Registrarte</a>
              </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Header-->
    <header class="masthead" style="background-image: url('static/img/home-bg.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>Informa Blog</h1>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="row justify-content-center">
          <div class="border-top my-3"></div>
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="post-preview">
              <a href="{% url 'ods' %}">
                <h2 class="post-title">
                  ¿Sabes cuáles son los 17 objetivos de desarrollo sostenible?
                </h2>
                <h3 class="post-subtitle">
                  Los objetivos de desarrollo sostenible (ODS) son una llamada a la acción a todos los países para erradicar la pobreza y proteger el planeta así como garantizar la paz y la prosperidad.
                </h3>
              </a>
              <p class="post-meta">Publicado por
                <a href="#">Grupo 5</a>
                el 21 de Diciembre 2021</p>
            </div>
            <div class="clearfix">
              <a class="btn btn-primary float-right" href="{% url 'ods' %}">Seguir leyendo &rarr;</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    {% include "base/footer.html" %}

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="static/js/clean-blog.min.js"></script>

  </body>

</html>
