
<!DOCTYPE html>
<html lang="es">
<head>
 <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta charset="UTF-8">
  <title>Objetivos ODS</title>
  <link rel="stylesheet" href="../static/css/ods.css">
</head>
<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="{% url 'inicio' %}">
        <img
          src="../static/img/inicio2.png"
          height="55"
          alt="MDB Logo"
          loading="lazy"
        />
        <small><big>Inicio</big></small>
      </a>
    </div>
  </nav>
<body>

 
      </div>
    <div align="center"><img src="../static/img/objetivos.png" width="600" height="100" class=img-fluid></div>
    
    {% block content %}
    <!-- Introduccion  -->
      <center>
        <h3>¿Dónde nacen los ODS?</h3
        <p>
        Consisten en una colección de 17 objetivos globales orientados a la preservación y cuidado del medioambiente, el 
        fin de la pobreza y una prosperidad económica a nivel global.
        Cada uno de estos objetivos tiene fijados indicadores específicos para evaluar su progreso, y se deberán cumplir 
        para el año 2030.
        </p>
        </center>

        <center>
        <h3>¿Qué son los ODS?</h3>
       <p> 
        Los ODS son una evolución a los Objetivos de Desarrollo del Milenio, que comenzaron en el año 2000 con la intención de 
        abordar la temática de la pobreza mundial.
        
        Los 17 objetivos están interconectados unos con otros, con la consecuencia de que al influir en uno también hay otros que
        se ven afectados. Por ejemplo, combatir la amenaza de la emergencia climática impacta en cómo gestionamos los recursos naturales, 
        consiguiendo así igualdad de género o una mejora en la calidad de los sistemas sanitarios, que a su vez, contribuiría a la erradicación
        de la pobreza fomentando la paz y la inclusividad que reducirán diferencias y ayudará a las economías a prosperar. En resumidas cuentas, 
        esta es la oportunidad definitiva para mejorar la calidad de vida a nivel global para las generaciones futuras.
       </p>
      

        </center>

    <!-- Descripcion 17 Ods   -->
  <div class="container">
    <div class="item">
      <img src="../static/img/obj-1.png" alt="" class="item-img">
      <div class="item-text">
        <p>La pobreza va más allá de la falta de ingresos y recursos para garantizar unos medios 
            de vida sostenibles. La pobreza es un problema de derechos humanos. Entre las distintas 
            manifestaciones de la pobreza figuran el hambre, la malnutrición, la falta de una vivienda 
            digna y el acceso limitado a otros servicios básicos como la educación o la salud. </p>
       
      </div>
    </div>
    
    <div class="item">
      <img src="../static/img/obj-2.png" alt="" class="item-img">
      <div class="item-text">
        <p>El sector alimentario y el sector agrícola ofrecen soluciones claves para el desarrollo y son 
            vitales para la eliminación del hambre y la pobreza. Gestionadas de forma adecuada, la agricultura, 
            la silvicultura y la acuicultura pueden suministrar comida nutritiva a todo el planeta, así como
            generar ingresos decentes, apoyar el desarrollo de las gentes del campo y proteger el medio 
            ambiente.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="../static/img/obj-3.png" alt="" class="item-img">
      <div class="item-text">
        <p>Para lograr los Objetivos de Desarrollo Sostenible es fundamental garantizar una vida saludable y promover 
            el bienestar universal. En las últimas décadas, se han obtenido grandes avances en relación con el aumento
            de la esperanza de vida y la reducción de algunas de las causas de muerte más comunes relacionadas con la 
            mortalidad infantil y materna.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="../static/img/obj-4.png" alt="" class="item-img">
      <div class="item-text">
        <p>La educación es la base para mejorar nuestra vida y el desarrollo sostenible. En los últimos quinquenios, 
            se han producido importantes avances con relación a la mejora de su acceso a todos los niveles y con el 
            aumento  en las tasas de escolarización, sobre todo, en el caso de las mujeres y las niñas. Pero es necesario 
            redoblar los esfuerzos para conseguir mayores avances.</p>
      </div>
    </div>
    
    
    <div class="item">
      <img src="../static/img/obj-5.png" alt="" class="item-img">
      <div class="item-text">
        <p>Si bien entre 2000 y 2015 se produjeron avances a nivel mundial con relación a la igualdad entre los géneros gracias 
            a los Objetivos de Desarrollo del Milenio (incluida la igualdad de acceso a la enseñanza primaria), las mujeres y 
            las niñas siguen sufriendo la discriminación y la violencia en todos los lugares del mundo. Por este motivo, continúa 
            siendo necesario el cumplimiento del objetivo de igualdad, ahora a través de la Agenda 2030.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="../static/img/obj-6.png" alt="" class="item-img">
      <div class="item-text">
        <p>La sequía afecta a algunos de los países más pobres del mundo, recrudece el hambre y la desnutrición. Esa escasez de recursos
            hídricos, junto con la mala calidad del agua y el saneamiento inadecuado repercuten en la seguridad alimentaria, los medios 
            de subsistencia y la oportunidad de educación para las familias pobres en todo el mundo.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="item">
      <img src="../static/img/obj-7.png" alt="" class="item-img">
      <div class="item-text">
        <p>La energía es central para casi todos los grandes desafíos y oportunidades a los que hace frente el mundo actualmente. Ya sea para
             el empleo, la seguridad, el cambio climático, la producción de alimentos o para aumentar los ingresos. El acceso universal a la 
             energía es esencial. Las Naciones Unidas apoyan las iniciativas que aseguran el acceso universal a los servicios de energía modernos, 
             mejoran el rendimiento energético y aumentan el uso de fuentes renovables.

        </p>
      </div>
    </div>
    
    <div class="item">
      <img src="../static/img/obj-8.png" alt="" class="item-img">
      <div class="item-text">
        <p>Aproximadamente la mitad de la población mundial todavía vive con el equivalente a unos 2 dólares de los Estados Unidos diarios, y en muchos 
            lugares el hecho de tener un empleo no garantiza la capacidad para escapar de la pobreza. Debemos reflexionar sobre este progreso lento y 
            desigual, y revisar nuestras políticas económicas y sociales destinadas a erradicar la pobreza.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="../static/img/obj-9.png" alt="" class="item-img">
      <div class="item-text">
        <p>Desde hace tiempo se reconoce que para conseguir una economía robusta se necesitan inversiones en infraestructura. Las inversiones en infraestructura 
            (transporte, energía,  comunicaciones, etc) son fundamentales para lograr un desarrollo sostenible, empoderar a las  sociedades de numerosos países,
            fomentar una mayor estabilidad social y conseguir ciudades más resistentes al cambio climático.</p>
      </div>
    </div>
    
    <div class="item">
      <img src="../static/img/obj-10.png" alt="" class="item-img">
      <div class="item-text">
        <p>La comunidad internacional ha logrado grandes avances sacando a las personas de la pobreza. Las naciones más vulnerables continúan avanzando en este ámbito, 
            pero siguen existiendo desigualdades y grandes disparidades en el acceso a los servicios sanitarios y educativos y a otros bienes productivos.</p>
      </div>
    </div>
    
    
    <div class="item">
      <img src="../static/img/obj-11.png" alt="" class="item-img">
      <div class="item-text"
        <p>Los problemas que enfrentan las ciudades se pueden vencer de manera que les permita seguir prosperando y creciendo, y al mismo tiempo aprovechar mejor los 
            recursos y reducir la contaminación y la pobreza. El futuro que queremos incluye a ciudades de oportunidades, con acceso a servicios básicos, energía, vivienda, 
            transporte y más facilidades para todos.
        </p>
      </div>
    </div>

    <div class="item">
      <img src="../static/img/obj-12.png" alt="" class="item-img">
      <div class="item-text">
        <p>El objetivo del consumo y la producción sostenibles es hacer más y mejores cosas con menos recursos. Se trata de crear ganancias netas de las actividades económicas
             mediante la reducción de la utilización de los recursos, la degradación y la contaminación, logrando al mismo tiempo una mejor calidad de vida.</p>
      </div>
    </div>
    
    <div class="item">
        <img src="../static/img/obj-13.png" alt="" class="item-img">
        <div class="item-text">
          <p>El cambio climático afecta a todos los países en todos los continentes. Tiene un impacto negativo en la economía y la vida de las personas, las comunidades y los países. 
              En un futuro las consecuencias serán todavía peores. Tenemos a nuestro alcance soluciones viables para que los países puedan tener una actividad económica más sostenible 
              y más respetuosa con el medio ambiente.</p>
        </div>
      </div>
    
    <div class="item">
        <img src="../static/img/obj-14.png" alt="" class="item-img">
        <div class="item-text">
          <p>Los océanos del mundo mueven sistemas que hacen que la Tierra sea habitable para la humanidad. Nuestras precipitaciones, el agua potable, el clima, el tiempo, las costas, 
              gran parte de nuestros alimentos e incluso el oxígeno del aire que respiramos provienen del mar y son regulados por este. La gestión prudente de este recurso mundial esencial 
              es una característica clave del futuro sostenible.</p>
        </div>
      </div>

    <div class="item">
        <img src="../static/img/obj-15.png" alt="" class="item-img">
        <div class="item-text">
          <p>El 30% de la superficie terrestre está cubierta por bosques y estos, además de proporcionar seguridad alimentaria y refugio, son fundamentales para combatir el cambio climático. 
              La deforestación y la desertificación, provocadas por las actividades humanas y el cambio climático, suponen grandes retos para el desarrollo sostenible y han afectado la vida 
              y los medios de vida de millones de personas en la lucha contra la pobreza.</p>
        </div>
      </div>

    <div class="item">
        <img src="../static/img/obj-16.png" alt="" class="item-img">
        <div class="item-text">
          <p>El estado de derecho y el desarrollo tienen una interrelación significativa y se refuerzan mutuamente. Por ese motivo, este objetivo se centra en la promoción de un acceso universal 
              a la justicia y la construcción de instituciones responsables y eficaces a todos los niveles. Para ello, es necesario acabar con la corrupción existente en el poder judicial y en la 
              Policía de muchos países.</p>
        </div>
      </div>
    
    <div class="item">
        <img src="../static/img/obj-17.png" alt="" class="item-img">
        <div class="item-text">
          <p>Para que una agenda de desarrollo sostenible sea eficaz se necesitan alianzas entre los gobiernos, el sector privado y la sociedad civil. Estas alianzas se construyen sobre la base de 
              principios y valores, una visión compartida y objetivos comunes que otorgan prioridad a las personas y al planeta, y son necesarias a nivel mundial, regional, nacional y local.</p>
        </div>
      </div>
    </div>
  </div>
      
   
{% endblock %}

      <center>
      <h4>Informa Blog 2021</h4>
      </center>

         
  

        