{% extends "base/base.html" %}
{% load static %}
{% block contenido %}

<div class="row featurette" style="padding:50px;">
  <div class="col-md-7">
    <h2 class="featurette-heading">{{object.titulo}}<span class="text-muted"></span></h2>
    <h5 class="featurette-heading">{{object.resumen}}</h5>
    <p class="lead">{{object.Contenido}}</p>
  </div>
  <div class="col-md-5">
    {% if object.imagen_publicacion %}
      <img src="{{object.imagen_publicacion.url}}" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500">
    {% else %}
      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
    {% endif %}
    <p class="card-text"><small class="text-muted"><span class="badge bg-primary">{{object.categorias.nombre}}</span></small></p>
    {% for c in object.categorias.all %}<span class="badge bg-dark">{{c.nombre}}</span>{% endfor %}
  <div align="center" style="padding:10px;">{{object.fecha_publicacion}}</div>

  </div>
  {% include "base/comentario.html" %}

</div>



{% endblock contenido %}
