{% extends "base/base.html" %}

{% load static %}

{% block contenido %}

<div style="padding: 50px;">

  {% if post_comentado_id == p.id %}
    {% for c in comentarios %}
    <div style="padding: 10px;">
    <div class="col-md-6">
      <div class="h-100 p-5 bg-light border rounded-3">
        <h2>{{c.autor}}</h2>
        <p>{{c.Contenido}}</p>
        {% if user.es_administrador %}
        <div align="right">
          <a href="{% url 'comentarios:admin_eliminar' c.id %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Eliminar</a>
        </div>
        {% endif %}
      </div>
    </div>
    </div>
    {% endfor %}
  {% endif %}

</div>

{% endblock contenido %}
