<div class="tab-content">
    <div class="tab-pane active">
        <ul class="media-list">

  {% if post_comentado_id == p.id %}
    {% for c in comentarios %}
      <div class="media-body">
          <div class="well well-lg">
              <h4 class="media-heading text-uppercase reviews">{{c.autor}} </h4>
              <p class="media-comment">
                {{c.Contenido}}
              </p>
          </div>
        </div>
          <a href="{% url 'comentarios:admin_eliminar' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Eliminar</a>
    {% endfor %}
  {% endif %}

        </ul>
    </div>
</div>
